venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist/
build/
.git/
.gitignore
*.sqlite3
*.db
.env
.venv
env/
ENV/
.DS_Store
.vscode/
.idea/
*.log
db.sqlite3
staticfiles/
media/
*.md
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
set_password.py
